# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/

# Django
*.sqlite3
*.log
.env
staticfiles/
media/

# Frontend
node_modules/
dist/
.vite/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

.claude

docs/